{% macro render_field(field, autofocus=False) %}
    {% if field.type == "BooleanField" %}
        <div class="form-group form-group-lg">
            <div class="col-sm-offset-4 col-sm-12">
                <label for="{{ field.name }}">
                    <input id={{ field.name }} name={{ field.name }} value="y" type="checkbox" {% if field.default %}checked{% endif %}> {{ field.description }}
                </label>
            </div>
        </div>
    {% elif field.type == "SEDateTimeField" %}
        <div class="form-group form-group-lg">
            <label class="col-sm-4 control-label" for="{{ field.name }}">{{ field.label }}</label>
            <div class="col-sm-8">
                <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd" data-date-language="sv" data-date-autoclose="true" data-date-title="{{ field.label.text }}">
                    <input id={{ field.name }} name={{ field.name }} type="text" class="form-control datepicker">
                    <div class="input-group-addon">
                        <span id="calendar-button" class="glyphicon glyphicon-calendar"></span>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="form-group form-group-lg">
            <label class="col-sm-4 control-label" for="{{ field.name }}">{{ field.label }}</label>
            <div class="col-sm-8">
                {{ field(class='form-control', id=field.name, autofocus=autofocus) }}
                {% if field.description %}
                    <span class="help-block">{{ field.description }}</span>
                {% endif %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro render_button() %}
    <button type="submit" class="btn btn-primary btn-block">Skicka</button>
{% endmacro %}

{% macro render_alert(type, message) %}
    <div class="alert alert-{{ type }} fade in" role="alert">
        <p class="text-center">{{ message }}</p>
        <p class="text-center"><a href="{{ url_for('se_leg_ra.index') }}" class="alert-link">Tillbaka</a></p>
    </div>
{% endmacro %}

{% macro render_navtabs(active_tab) %}
    <ul class="nav nav-pills" role="tablist">
        <li role="presentation" {% if active_tab == 'drivers_license' %}class="active"{% endif %}><a href="{{ url_for('se_leg_ra.drivers_license') }}" aria-controls="drivers-license" role="tab">Körkort</a></li>
        <li role="presentation" {% if active_tab == 'national_id_card' %}class="active"{% endif %}><a href="{{ url_for('se_leg_ra.national_id_card') }}" aria-controls="national-id-card" role="tab">Nationellt ID-kort</a></li>
        <li role="presentation" {% if active_tab == 'id_card' %}class="active"{% endif %}><a href="{{ url_for('se_leg_ra.id_card') }}" aria-controls="id-card" role="tab">Annat ID-kort</a></li>
        <li role="presentation" {% if active_tab == 'passport' %}class="active"{% endif %}><a href="{{ url_for('se_leg_ra.passport') }}" aria-controls="passport" role="tab">Pass</a></li>
    </ul>
{% endmacro %}


{% macro render_username(user) %}
    {% if user.display_name %}
        {{ user.display_name }}
    {% elif user.given_name or user.surname %}
        {{ user.given_name or '' }} {{ user.surname or '' }}
    {% else %}
        Inloggad
    {% endif %}
{% endmacro %}