{% extends "base_form.jinja2" %}
{% from "_helpers.jinja2" import render_field, render_button, render_alert, render_navtabs %}

{% block title %}{{ super() }} Körkort{% endblock %}

{% block form %}
    <div class="panel-body">
        <!-- Nav tabs -->
        {{ render_navtabs('drivers_license') }}

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="drivers-license">
                <form class="form-horizontal well" id="drivers-license-form" action="{{ view_context.action_url }}" method="POST">
                    {{ view_context.form.csrf_token }}
                    {{ render_field(view_context.form.qr_code, autofocus=True) }}
                    {{ render_field(view_context.form.identity) }}
                    {{ render_field(view_context.form.ocular_validation) }}
                    {{ render_button() }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}